<!--
a {font-family:verdana,arial,helvetica,sans-serif; font-size:12px; color:#565656; text-decoration:none;}
a:hover {text-decoration:underline ; color=#C80000}

.text1 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #565656; LINE-HEIGHT: 22px}
.text2 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #ffffff; LINE-HEIGHT: 22px}
.text3 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 10px;  color: #565656; LINE-HEIGHT: 18px}
.text30 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 10px;  color: #000000; LINE-HEIGHT: 12px}
.text4 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #DE0000; LINE-HEIGHT: 22px}
.text5 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #000000; LINE-HEIGHT: 18px}
.text6 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #000000; LINE-HEIGHT: 22px}

.text60 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #000000; LINE-HEIGHT: 16px}

.text7 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 13px;  color: #DA0000; LINE-HEIGHT: 22px}
.text8 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #ffffff; LINE-HEIGHT: 18px; background-color: #484848}

.text9 {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #BCBCBC; LINE-HEIGHT: 18px}

.homenews {  font-family: "verdana", "Arial", "Helvetica"; font-size: 12px;  color: #000000; LINE-HEIGHT: 14px;}

.newstime {  font-family: "verdana", "Arial", "Helvetica"; font-size: 10px;  color: #5A5A5A; LINE-HEIGHT: 16px;}

.indexnewstime {  font-family: "verdana", "Arial", "Helvetica"; font-size: 10px;  color: #BEEAFF; LINE-HEIGHT: 16px;}

.copyright {font-family: "verdana", "Arial", "Helvetica"; font-size: 12px; color: #DEDEDE; filter: DropShadow(Color=#003250, OffX=1, OffY=1); line-height: 12pt;}
.design {font-family: "verdana", "Arial", "Helvetica"; font-size: 10px; color: #1E3B71; filter: DropShadow(Color=#ffffff, OffX=1, OffY=1); line-height: 12pt;}

.design2 {font-family: "verdana", "Arial", "Helvetica"; font-size: 10px; color: #DEDEDE; filter: DropShadow(Color=#1E3B71, OffX=1, OffY=1); line-height: 12pt;}

.t2 {font-family: "verdana", "Arial", "Helvetica"; font-size: 12px; color: #848484; filter: DropShadow(Color=#D0D0D0, OffX=1, OffY=1); line-height: 12pt;}

.style2 {color: #000000}
-->
